.co-ord-offset,.co-ord-last-touched,.co-ord{
	position: relative;
	z-index: 9999;
	cursor: default;
	-moz-user-select: none; 
	-khtml-user-select: none; 
	-webkit-user-select: none; 
	-o-user-select: none; 
}

#object{
	top: 50%;
	left: 50%;
	-webkit-transform:translate(-50%, -50%);
	transform:translate(-50%, -50%);
	width: 100px;
	height: 100px;
	border: solid white 5px;
	border-radius: 50%;
	position: absolute;
}
#object span{
	top: 50%;
	left: 50%;
	-webkit-transform:translate(-50%, -50%);
	transform:translate(-50%, -50%);
	position: absolute;
	color: white;
	font-size: 3em;
}

body{
	background-color:rgb(0,200,255);
}
